<% include header.ejs %>
<% include navibar.ejs %>
<div class="container">
    <div class="page-header">
        <h1 style="color:darkgray">Match Edit</h1>
    </div>
    <div class="panel panel-default">
        <form id="editmatch" action="/post/edit/<%=match.id%>" method="post">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <h3 class="panel-title">Edit a match (Leave input blank if doesn't need to edit that value)</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Home Team</span>
                            <input type="text" class="form-control" id="home" name="home" placeholder="<%=match.hometeam%>" aria-describedby="basic-addon1">
                        </div>
                    </div><!-- /.col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Away Team</span>
                            <input type="text" class="form-control" id="away" name="away" placeholder="<%=match.awayteam%>" aria-describedby="basic-addon1">
                        </div>
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
                <p> &nbsp; </p>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Home Score</span>
                            <input type="text" class="form-control" id="hscore" name="hscore" placeholder="<%=match.homescore%>" aria-describedby="basic-addon1">
                        </div>
                    </div><!-- /.col-lg-3 -->
                    <div class="col-lg-3">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Away Score</span>
                            <input type="text" class="form-control" id="ascore" name="ascore" placeholder="<%=match.awayscore%>" aria-describedby="basic-addon1">
                        </div>
                    </div><!-- /.col-lg-3 -->
                    <div class="col-lg-6">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Match Date</span>
                            <input type="text" class="form-control" id="mdate" name="mdate" placeholder="<%=match.matchdate.toString().substring(0,15)%>" aria-describedby="basic-addon1">
                        </div>
                    </div>
                </div>
                <p> &nbsp; </p>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1"> Season </span>
                            <input type="text" class="form-control" id="season" name="season" placeholder="<%=match.season%>" aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <a class="btn btn-default btn-block" href="/matches/<%=match.season%>" role="button">Back</a>
                    </div>
                    <div class="col-lg-3">
                        <a class="btn btn-default btn-block" href="/matches/delete/<%=match.id%>/<%=match.season%>" role="button">Delete Match!</a>
                    </div>
                </div>
                <p> &nbsp; </p>
                <div class="row">
                    <div class="col-lg-3">
                    </div>
                    <div class="col-lg-6">
                        <p>
                            <button type="submit" class="btn btn-block btn-primary">Submit</button>
                        </p>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <p> &nbsp;</p>
    <p> &nbsp;</p>
</div>
<% include footer.ejs %>